extends layout

block content
    .container
        h3 COSC 465 network speed test (project 8)
        hr
        button
            a.btn(href = "/tests") Launch some tests
        .spacing
        p Not much on this page, click the button above to get started.
        hr
        #homeimage


